<% @plots.each do |plot| %>
  <div id="id-<%= plot.id %>">
    Plot number: <%= plot.number %><br>
    <% plot.plants.each do |plant| %>
      <%= plant.name %> <%= link_to "Remove #{plant.name}", plot_plant_path(PlotPlant.find_by(plot_id: plot.id, plant_id: plant.id)), method: :delete %><br>
      <br>
    <% end %>
  </div>
<% end %>